/***********************************************************************************

    Copyright (C) 2014-2015 Ahmet Öztürk (aoz_2@yahoo.com)

    This file is part of Lifeograph.

    Lifeograph is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Lifeograph is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Lifeograph.  If not, see <http://www.gnu.org/licenses/>.

***********************************************************************************/


#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"


// MENUS ===========================================================================================
IDM_DIARY MENU
{
    POPUP "&Diary"
    {
        MENUITEM "&Create Diary...", IDMI_DIARY_CREATE
        MENUITEM "&Open Diary...", IDMI_DIARY_OPEN
        MENUITEM SEPARATOR
        MENUITEM "&Encrypt...", IDMI_DIARY_ENCRYPT
        MENUITEM "&Change Password...", IDMI_DIARY_CHANGE_PASSWORD
        MENUITEM "E&xport...", IDMI_DIARY_EXPORT
        MENUITEM SEPARATOR
        MENUITEM "Quit &without Saving", IDMI_QUIT_WO_SAVE
        MENUITEM "&Quit", IDMI_QUIT
    }
}

IDM_DIARY_R MENU
{
    POPUP "&Diary"
    {
        MENUITEM "Add &Dated Chapter", IDMI_DIARY_ADD_DCHAPTER
        MENUITEM "Add &Numbered Chapter", IDMI_DIARY_ADD_NCHAPTER
        MENUITEM "Add &Free Chapter", IDMI_DIARY_ADD_FCHAPTER
    }
}

IDM_ENTRY MENU
{
    POPUP "&Entry"
    {
        MENUITEM "Favorite", IDMI_ENTRY_FAVORITE
        MENUITEM SEPARATOR
        MENUITEM "Not To Do", IDMI_ENTRY_TODO_NOT
        MENUITEM "Open", IDMI_ENTRY_TODO_OPEN
        MENUITEM "In Progress", IDMI_ENTRY_TODO_PROGRESSED
        MENUITEM "Done", IDMI_ENTRY_TODO_DONE
        MENUITEM "Canceled", IDMI_ENTRY_TODO_CANCELED
        MENUITEM SEPARATOR
        MENUITEM "&Dismiss...", IDMI_ENTRY_DISMISS
    }
}

IDM_CHAPTER MENU
{
    POPUP "&Chapter"
    {
        MENUITEM "&Rename", IDMI_CHAPTER_RENAME
        MENUITEM SEPARATOR
        MENUITEM "&Dismiss...", IDMI_CHAPTER_DISMISS
    }
}

IDM_TOPIC MENU
{
    POPUP "&Numbered Chapter"
    {
        MENUITEM "&Rename", IDMI_CHAPTER_RENAME
        MENUITEM "&Add Entry", IDMI_CHAPTER_ADD_ENTRY
        MENUITEM SEPARATOR
        MENUITEM "&Dismiss...", IDMI_CHAPTER_DISMISS
    }
}

IDM_FILTER MENU
{
    POPUP "&Filter"
    {
        MENUITEM "Show Not To Do", IDMI_FILTER_TODO_NOT
        MENUITEM "Show Open", IDMI_FILTER_TODO_OPEN
        MENUITEM "Show In Progress", IDMI_FILTER_TODO_PROGRESSED
        MENUITEM "Show Done", IDMI_FILTER_TODO_DONE
        MENUITEM "Show Canceled", IDMI_FILTER_TODO_CANCELED
        MENUITEM SEPARATOR
        MENUITEM "Hide Non-Favorites", IDMI_FILTER_FAVORITES
        MENUITEM SEPARATOR
        MENUITEM "Filter Tag...", IDMI_FILTER_TAGS
        MENUITEM SEPARATOR
        MENUITEM "Reset Filter", IDMI_FILTER_RESET
        MENUITEM "Save Filter", IDMI_FILTER_SAVE
    }
}

IDM_TEXT_EDITOR MENU
{
    POPUP "Text"
    {
        MENUITEM "None", IDMI_TEXT_NOT_LIST
        MENUITEM "[ ] To Do", IDMI_TEXT_TODO_OPEN
        MENUITEM "[~] In Progress", IDMI_TEXT_TODO_PROGRESSED
        MENUITEM "[+] Done", IDMI_TEXT_TODO_DONE
        MENUITEM "[x] Canceled", IDMI_TEXT_TODO_CANCELED
        MENUITEM "* Bullet", IDMI_TEXT_BULLET
    }
}

// DIALOGS =========================================================================================
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_PASSWORD DIALOG 0, 0, 200, 85
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | DS_NOFAILCREATE | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Authorize"
FONT 8, "Ms Shell Dlg"
{
    CTEXT           "Please enter password for", IDL_PASSWORD_MESSAGE, 10, 10, 190, 10, SS_CENTER, WS_EX_LEFT
    CTEXT           "Static", IDL_DIARY_NAME, 10, 25, 190, 10, SS_CENTER, WS_EX_LEFT
    EDITTEXT        IDE_PASSWORD, 40, 40, 120, 15, ES_AUTOHSCROLL | ES_PASSWORD, WS_EX_LEFT
    PUSHBUTTON      "Cancel", IDCANCEL, 85, 65, 50, 15, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 140, 65, 50, 15, 0, WS_EX_LEFT
}

IDD_NEW_PASSWORD DIALOG 0, 0, 200, 75
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | DS_NOFAILCREATE | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "New Password"
FONT 8, "Ms Shell Dlg"
{
    CTEXT           "Password", IDC_STATIC, 10, 10, 50, 10, 0, WS_EX_LEFT
    CTEXT           "Confirm", IDC_STATIC, 10, 30, 50, 10, 0, WS_EX_LEFT
    EDITTEXT        IDE_PASSWORD, 70, 7, 120, 15, ES_AUTOHSCROLL | ES_PASSWORD, WS_EX_LEFT
    EDITTEXT        IDE_PASSWORD2, 70, 27, 120, 15, ES_AUTOHSCROLL | ES_PASSWORD, WS_EX_LEFT
    PUSHBUTTON      "Cancel", IDCANCEL, 85, 55, 50, 15, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 140, 55, 50, 15, 0, WS_EX_LEFT
}

IDD_TAGS DIALOG 0, 0, 200, 220
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | DS_NOFAILCREATE | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Defined Tags"
FONT 8, "Ms Shell Dlg"
{
    CTEXT           "Name", IDC_STATIC, 10, 10, 30, 10, 0, WS_EX_LEFT
    EDITTEXT        IDE_TAG_NAME, 50, 7, 140, 15, ES_AUTOHSCROLL, WS_EX_LEFT
    CONTROL         "", IDTV_TAG_LIST, WC_TREEVIEW, WS_TABSTOP | WS_BORDER | TVS_HASBUTTONS, 10, 25, 180, 170, WS_EX_LEFT
    PUSHBUTTON      "Set Theme", IDB_TAG_THEME, 65, 200, 50, 15, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "Add", IDB_TAG_ACTION, 120, 200, 70, 15, 0, WS_EX_LEFT
    PUSHBUTTON      "Clear Filter", IDB_TAG_FILTER_CLEAR, 65, 200, 60, 15, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "Set Filter", IDB_TAG_FILTER_SET, 130, 200, 60, 15, 0, WS_EX_LEFT
}

WAO_IDD_INPUT DIALOG 0, 0, 205, 24
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_SETFONT
CAPTION "???"
FONT 8, "Ms Shell Dlg"
{
    EDITTEXT        WAO_IDE_INPUT, 5, 5, 160, 14, ES_AUTOHSCROLL, WS_EX_LEFT
    DEFPUSHBUTTON   "OK",   IDOK, 170,  5, 30, 14, 0, WS_EX_LEFT
}

// TOOLBARS ========================================================================================
#define RCWAOTBSTLBTN(T, A, B, C, D, E, F) CONTROL T, A, "wao_BUTTON_0", WS_CHILD|WS_VISIBLE|B, C, D, E, F
#define RCWAOTBSTLCBT(T, A, B, C, D, E, F) CONTROL T, A, "wao_BUTTON_Chk", WS_CHILD|WS_VISIBLE|B, C, D, E, F

#define RCWAOTBBUTTON(A, B, S) CONTROL "", A, "wao_BUTTON_0",   WS_CHILD|WS_VISIBLE|BS_ICON|S, B, 3, 15, 15
#define RCWAOTBCHKBTN(A, B, S) CONTROL "", A, "wao_BUTTON_Chk", WS_CHILD|WS_VISIBLE|BS_ICON|S, B, 3, 15, 15
#define RCWAOTBBTNTXT(T, A, B, C, S) CONTROL T, A, "wao_BUTTON_0",   WS_CHILD|WS_VISIBLE|S, B, 3, C, 15
#define RCWAOTBCHKBTX(T, A, B, C, S) CONTROL T, A, "wao_BUTTON_Chk", WS_CHILD|WS_VISIBLE|S, B, 3, C, 15

IDTB_MAIN DIALOG 0, 0, 350, 15
STYLE WS_CHILD | WS_VISIBLE
FONT 8, "Ms Shell Dlg"
{
    RCWAOTBBTNTXT( "Diary", IDB_DIARY, 5, 25, 0x0 )
    RCWAOTBBTNTXT( "About", IDB_ABOUT, 40, 25, 0x0 )
    RCWAOTBBTNTXT( "Today", IDB_TODAY, 40, 25, 0x0 )
    RCWAOTBBUTTON( IDB_ELEM, 75, 0x0 )
    RCWAOTBBTNTXT( "", IDB_ELEM_TITLE, 91, 149, 0x0 )
    EDITTEXT     IDE_ELEM_DATE, 91, 3, 149, 14, ES_AUTOHSCROLL, WS_EX_LEFT
    EDITTEXT     IDE_SEARCH, 250, 3, 80, 14, ES_AUTOHSCROLL, WS_EX_LEFT
    RCWAOTBBUTTON( IDB_FILTER, 335, 0x0 )
}

// ICONS ===========================================================================================
IDBM_ENTRY16        BITMAP          "icons\\elem-16.bmp"

IDB_ELEM            ICON            "icons\\entry-16.ico"
IDB_FILTER          ICON            "icons\\filter-16.ico"

